<h1>Gossip <%= params[:id] %></h1>


<ul>
  <li> Auteur : <%= @goss_id.user.first_name %> </li>
  <li> Titre : <%= @goss_id.title %> </li>
  <li> Contenu : <%= @goss_id.content %> </li>
</ul>

<p><a href="../user_details/<%= @goss_id.user.id %>"> En savoir plus sur l'auteur </a> </p> <br>

