<% if @user.errors.any? %>
<div class="alert alert-danger text-center" role="alert">
  <p>Nous n'avons pas réussi à te créer pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- Default form login -->
<div class="mx-auto pt-4" style="width: 400px">
<%= form_tag url_for(action: 'create'), method: "post", class: "text-center border border-light p-5" do %>

    <p class="h4 mb-4">Créer un compte</p>

    <!-- FirstName -->
    <%= text_field_tag 'first_name', nil, type: "first_name", id: "defaultLoginFormFirstName", class: "form-control mb-4", placeholder: "Prénom" %>

    <!-- LastName -->
    <%= text_field_tag 'last_name', nil, type: "last_name", id: "defaultLoginFormLastName", class: "form-control mb-4", placeholder: "Nom" %>

    <!-- Description -->
    <%= text_area_tag 'description', nil, type: "description", id: "defaultLoginFormDescription", class: "form-control mb-4", placeholder: "Qui es-tu ?" %>

    <!-- City -->
    <%=select_tag "city_id", options_from_collection_for_select(City.all, "id", "name"), class:"form-control", required:"required"%>
    <br>
    <!-- Age -->
    <%= number_field_tag 'age', nil, in: 18...99, id: "defaultLoginFormAge", class: "form-control mb-4", placeholder: "Ton âge ?" %>

    <!-- Email -->
    <%= text_field_tag 'email', nil, type: "email", id: "defaultLoginFormEmail", class: "form-control mb-4", placeholder: "E-mail" %>

    <!-- Password -->
    <%= password_field_tag 'password', nil, type: "password", id: "defaultLoginFormPassword", class: "form-control mb-4", placeholder: "Password" %>

    <!-- Sign up button -->
    <%= submit_tag "Sign up", class: "btn btn-info btn-block my-4", type: "submit" %>

    <!-- Register -->
    <p>Déjà inscrit ?
        <%= link_to 'Se connecter', new_session_path %>
    </p>

<% end %>
