<div class="container">
  <div class="text-center">
    <!--image-->
      <div class="avatar mx-auto white">
        <br>
          <img src="https://picsum.photos/500">
        <br><br>
      </div>
      <!--text-->
    <h2 class="featurette-heading">Bienvenue à <%= @city.name %>, <span class="text-muted">il fait chaud & beau 🌞</span></h2>
    <p class="lead"> Son magnifique code postal est : <%= @city.zip_code %>.</p>
  </div>
</div>


<div class="row">
    <% Gossip.all.each_with_index do |gossip, i| %>
      <div class="card-deck mx-auto text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Potin <%= gossip.id %></h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Auteur: <%= gossip.user.first_name %></li>
              <li>Titre: <%= gossip.title %></li>
              <li>Titre: <%= gossip.content %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>